__pycache__/
.ipynb_checkpoints/
artifacts/
*.pkl
.env
.venv/
venv/
.env
streamlit
pandas
numpy
scikit-learn
imblearn
plotly
openai
python-dotenv
*.pyc
.venv/
__pycache__/
*.pyc


project_structure.txt
notebook/
__pycache__/
*.pyc

